@tailwind base;
@tailwind components;
@tailwind utilities;

#why-choose-us-section{
    background-image: url('/images/why-choose-us.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    background-attachment: fixed;
}

.contact button:hover{
    background: #165751;
    color: #fff;
    cursor: pointer;
    transform: scale(0.8);
    transition: all 0.3s ease-in 0s;
}

.contact:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in 0s;
    box-shadow: 0px 23px 21px -8px rgba(136, 160, 255, .25);
}