@tailwind base;
@tailwind components;
@tailwind utilities;

#why-choose-us-section{
    background-image: url('/images/why-choose-us.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    background-attachment: fixed;
}